@mixin tablet-query {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop-query {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin short-height-query {
  @media screen and (max-height: 500px) {
    @content;
  }
}

// @mixin font($size, $height, $weight) {
//   font-size: $size;
//   line-height: $height;
//   font-weight: $weight;
// }

@mixin font-standard {
  color: white;
  font-weight: bold;
  font-size: .75rem;
}