@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;1,400;1,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.outer-wrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.spacer {
  flex: 0 0 1.125rem;
  background-color: black;
}

.available {
  background-color: #711AA5;
  height: 3.75rem;
  padding: 0.4375rem;
}
@media screen and (min-width: 768px) {
  .available {
    padding: 1.125rem;
  }
}
.available__content-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
@media screen and (min-width: 768px) {
  .available__content-wrapper {
    justify-content: flex-end;
  }
}
.available__logo {
  height: 1.25rem;
}
.available__text {
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
}

.splash {
  /* LOGO */
  /* COMING SOON */
}
.splash__wrapper {
  flex: 1 1 auto;
  background-color: #711AA5;
  background-image: url("../assets/Cubric_LoadingScreen_PurpleBottom_opt_narrow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .splash__wrapper {
    background-image: url("../assets/Cubric_LoadingScreen_PurpleBottom_opt.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
}
.splash__content {
  position: absolute;
  top: -1.8rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  /* Container for logo & coming soon */
  /* Container for Bubble & Social */
}
.splash__content-upper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.5rem;
}
.splash__content-lower {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.splash__logo {
  width: 13.125rem;
}
@media screen and (max-height: 500px) {
  .splash__logo {
    width: 8rem;
  }
}
.splash__comingsoon {
  width: 30vw;
  min-width: 20rem;
}
@media screen and (min-width: 768px) {
  .splash__comingsoon {
    min-width: 25rem;
  }
}
@media screen and (max-height: 500px) {
  .splash__comingsoon {
    min-width: 11rem;
  }
}

/* TEXT BUBBLE */
.bubble {
  background: no-repeat top left/cover url("../assets/TextBlocks.png");
  aspect-ratio: 1250/320;
  width: 100%;
  min-width: 38.75rem;
  max-width: 38.75rem;
  padding: 2rem 1.25rem 1.25rem;
  text-align: center;
}
@media screen and (max-height: 500px) {
  .bubble {
    min-width: auto;
    max-width: 29rem;
    padding: 1.6rem;
  }
}
.bubble__text {
  white-space: nowrap;
  font-size: 1.25rem;
  font-weight: bold;
  color: #D50283;
}
@media screen and (max-height: 500px) {
  .bubble__text {
    font-size: 0.9rem;
  }
}

/* SOCIAL LOGO AREA */
.social {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 0.5rem;
}
.social__text {
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
}
.social__logos-wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.5625rem;
}/*# sourceMappingURL=styles.css.map */