@use "./partials/colors" as *;
@use "./partials/variables" as *;
@use "./partials/fonts";
@use "./partials/mixins" as *;
@use "./partials/global" as *;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  // Allows conten's flex container to grow to fill up height
  // Need both html & body (not just body) to be set to 100% to enable this
  height: 100%;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}


.outer-wrapper {
  display: flex;
  flex-flow: column nowrap;

  height: 100%;
}

.spacer {
  flex: 0 0 1.125rem;
  background-color: black;
}

// "AVAILABLE ON" BAR
.available {
    background-color: $col-background;
    height: 3.75rem;

    padding: .4375rem;

    @include tablet-query {
      padding: 1.125rem;
    }
  // used to ensure items are vertically center
  &__content-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;

    @include tablet-query {
      justify-content: flex-end;
    }
  }

  &__logo {
    height: 1.25rem;
  }
  &__text {
    color: white;
    font-weight: bold;
    font-size: .75rem;
  }
}

// SPLASH IMAGE & CONTENT
.splash {
  &__wrapper{
    flex: 1 1 auto;
    background-color: $col-background;
    background-image: url('../assets/Cubric_LoadingScreen_PurpleBottom_opt.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    position: relative; // sets base when abs positioning content
  }

  &__content {
    position: absolute; // to allow positioning of logo above
    top: -1.8rem;

    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;

    /* Container for logo & coming soon */
    &-upper {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      gap: 0.5rem;
    }

    /* Container for Bubble & Social */
    &-lower {

    }
  }
  /* LOGO */
  &__logo {
    width: 13.125rem;
    @include desktop-query {
      width: 13.125rem;
    }
  }
  /* COMING SOON */
  &__comingsoon {
    width: 29vw; // 27.25rem;
    min-width: 20rem;
    @include uhd-query {
    //  width: 49.1875rem;
    }
  }
}